{% extends 'base.html' %}

{% block title %}
Userhomepage
{% endblock %}

{% block style %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}"> -->
{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}
  <h3 class="text-center mt-5">Hello, {{user.first_name}}</h3>
  <h3 class="text-center mt-3"><a href="{% url 'logout' %}" class="btn btn-primary">Logout</a></h3>
{% else %}
  <h3>The User is not Authenticated</h3>
{% endif %}

{% endblock %}